@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
  font-family: "Poppins";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 20px;
}
header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  color: rgb(143, 44, 61);
  font-size: 19px;
}
header nav .active {
  text-shadow: 0 0 30px rgb(210, 110, 127);
}

.list-page {
  padding: 20px;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
}

.card {
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
}
.card .top-area {
  display: flex;
  justify-content: space-between;
}
.card .head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 20px;
}
.card .head .letter {
  background-color: purple;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 30px;
  text-shadow: 0 0 20px white;
}
.card .head .info {
  font-size: 20px;
}
.card .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.card .body .field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .status {
  display: flex;
}
.card .status p {
  padding: 6px;
  border-radius: 10px;
}

/* refresh button */
.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* ekleme sayfası */
.add-page {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.add-sec, .filter-sec {
  width: 70vw;
  max-width: 700px;
  box-shadow: 0 0 55px 0 rgb(226, 68, 160);
  padding: 25px;
}
.add-sec form, .filter-sec form {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.add-sec div, .filter-sec div {
  display: flex;
  flex-direction: column;
}
.add-sec div input, .filter-sec div input, .add-sec div select, .filter-sec div select {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 5px;
  font-family: "poppins";
}
.add-sec div:last-child, .filter-sec div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-sec {
  margin: 20px auto 80px;
}
.filter-sec div:last-child {
  align-items: unset;
}

/* ekleme butonu */
.bookmarkBtn {
  width: 300px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 14px;
}

.bookmarkBtn:hover .IconContainer {
  width: 300px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(1);
  transition-duration: 0.3s;
}

/* silme button */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(212, 109, 181);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}/*# sourceMappingURL=style.css.map */